/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html {
    box-sizing: border-box;
    font-size: 62.5%;

    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body {
    background-color: #303030;
    color: #fff;
    font-family: "Montserrat", sans-serif;

    margin: 0;
    padding: 0;

}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #303030;

    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-size: 3.6rem;
    font-weight: normal;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 5.2rem;
    text-align: center;
}

h3 {
    font-size: 2.2rem;
    font-weight: 700;
}

h4 {
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;

    line-height: 28px;

    margin: 0;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

section {
    padding: 50px 60px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title p {
    width: 610px;
    text-align: center;
}

.bleu_btn {
    display: inline-block;
    background-color: #38A9EB;
    padding: 10px 30px;
    border: 2px #38a9eb00 solid;

    transition: all 0.3s ease-in-out;
}

.bleu_btn:hover {
    background-color: #303030;
    color: #38A9EB;
    border: 2px #38A9EB solid;
}

.gray_btn {
    display: inline-block;
    padding: 15px 40px;
    border: 2px #303030 solid;

    transition: all 0.3s ease-in-out;
}

.gray_btn:hover {
    background-color: #303030;
    color: #38A9EB;
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 1.8rem;
    border: 2px #303030 solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    margin: 10px 10px 0px 0px;

    transition: all 0.3s ease-in-out;
}

i:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 1.8rem;
    border: 2px #303030 solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    margin: 10px 10px 0px 0px;

    background-color: #303030;
    color: #38A9EB;
}

/* GRAY BOTTOM BORDER */
.button-bordered {
    border: none;
    outline: none;
    position: relative;
}

.button-bordered::before,
.button-bordered::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.3s;
    pointer-events: none;
}


.button-bordered::after {
    height: 2px;
    bottom: -4px;
    left: 0;
    border-bottom: 1.5px solid #303030;
}

.button-bordered:hover::before,
.button-bordered:hover::after {
    width: 100%;
}


/* BLUE BOTTOM BORDER */
.button-bordered-blue {
    border: none;
    outline: none;
    position: relative;
    color: #38A9EB;
}

.button-bordered-blue::before,
.button-bordered-blue::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.3s;
    pointer-events: none;
}


.button-bordered-blue::after {
    height: 2px;
    bottom: -4px;
    left: 0;
    border-bottom: 1.5px solid #38A9EB;
}

.button-bordered-blue:hover::before,
.button-bordered-blue:hover::after {
    width: 100%;
}

/*------------------------------------------------------------------------------
   Header
------------------------------------------------------------------------------*/

header {
    background-color: #38A9EB;

    height: 60px;
    font-size: 1.8rem;
    font-weight: 500;

    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav li {
    list-style: none;
    padding: 0 20px;
}

header nav h1 {
    text-transform: capitalize;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 40px;
    margin-right: 15px;
}

/*------------------------------------------------------------------------------
   Hero
------------------------------------------------------------------------------*/

.hero {
    background-image: url(../images/montagne_lac.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding-bottom: 60px;
}

.hero .wrapper {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    height: 650px;
}

.hero .hero-box {
    background-color: #303030;
    width: 560px;
    height: 220px;

    padding: 30px;
}

.hero .hero-box h1 {
    color: #38A9EB;
    padding-bottom: 10px;
}


/*------------------------------------------------------------------------------
   Call to action 
------------------------------------------------------------------------------*/

.cta {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cta h2 {
    color: #38A9EB;
}

.cta p {
    width: 765px;
    padding: 10px 0 30px 0;
}


/*------------------------------------------------------------------------------
   Our team
------------------------------------------------------------------------------*/

.team {
    background-color: #38A9EB;
    color: #303030;

}

.team .sub-title {
    width: 600px;
    text-align: center;
    padding-bottom: 25px;
}


.team .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 115px;
}


.team .img {
    width: 363px;
    height: 363px;
    border-radius: 50%;
}

.team .leo {
    background: url(../images/Leo_Marchand.jpg) center / cover no-repeat;
}

.team .camille {
    background: url(../images/Camille_Dupont.jpg) center / cover no-repeat;
}

.team .maxime {
    background: url(../images/Maxime_Lefevre.jpg) center / cover no-repeat;
}

.team .card {
    text-align: center;
}

.team .card h3 {
    padding-top: 50px;
}


/*------------------------------------------------------------------------------
   Our Products
------------------------------------------------------------------------------*/

.produit {
    display: flex;
    justify-content: center;
}

.produit h2 {
    color: #38A9EB;
}

.produit .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
}

.produit .card {
    text-align: center;
    padding-bottom: 15px;
    position: relative;


}

.produit .row img {
    width: 90%;
    margin-bottom: 20px;
    border: #38a9eb00 9px solid;

    transition: all 0.3s ease-in-out;
}

.produit .card:hover img {
    width: 90%;
    margin-bottom: 20px;
    filter: brightness(70%);
    border: #38A9EB 9px solid;


    color: #38A9EB;
}


.card:hover .plus {
    color: #38A9EB;
}


.produit .card h3 {
    color: #38A9EB;
}

.produit .definition {
    padding: 10px 0;
}

.produit .labels {
    display: flex;
    padding: 35px 0;
}

.produit .labels p {
    background-color: #38A9EB;
    color: #303030;

    padding: 5px 10px;
    margin: 0 40px 0 10px;
}

.produit .plus {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
    font-size: 14.4rem;
    color: #38a9eb00;
}


/*------------------------------------------------------------------------------
   Nous contacter
------------------------------------------------------------------------------*/

.contact {
    background-color: #38A9EB;
    margin: 50px 60px;
    color: #303030;
}

.contact h2 {
    padding-bottom: 20px;
}

.contact .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.contact .icons {
    display: flex;
    padding-top: 20px;
}

.contact .texte {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact .texte p:nth-child(n + 2) {
    font-weight: 700;
}

.contact .texte p:nth-child(2),
.contact .texte p:nth-child(2) {
    padding: 20px 0;
}

.contact .title .gray_btn {
    margin-top: 30px;
}

.contact .title {
    padding: 0;
}


/*------------------------------------------------------------------------------
   Footer
------------------------------------------------------------------------------*/


footer {
    background-color: #38A9EB;
    color: #303030;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
}


/*------------------------------------------------------------------------------
   Vedette
------------------------------------------------------------------------------*/


.vedette .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.vedette img {
    width: 70%;
}

.vedette h2 {
    color: #38A9EB;
}

.vedette .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vedette .title p {
    text-align: start;

    padding-bottom: 70px;
}

.vedette .main {
    display: flex;
    justify-content: center;
}


/*------------------------------------------------------------------------------
   Fiche
------------------------------------------------------------------------------*/

.fiche {
    background-color: white;
}

.fiche .wrapper {
    display: grid;
    grid-template-columns: 1fr 7fr 5fr;
}

.fiche img {
    width: 100%;
}

.fiche h2 {
    color: #38A9EB;
    text-align: start;
    padding: 20px 0;
}

.fiche .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303030;
    padding: 20px 50px;
}

.fiche .title p {
    text-align: start;
    padding-bottom: 30px;
}

.fiche .main {
    display: flex;
    justify-content: flex-start;
}

.fiche .prix {
    font-size: 2.4rem;
    font-weight: 700;
}


/*------------------------------------------------------------------------------
   Inforamtions
------------------------------------------------------------------------------*/


.inforamtions {
    background-color: #38A9EB;
    margin: 50px 60px;
    color: #303030;
}

.inforamtions p {
    font-size: 1.5rem;
}

.inforamtions .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.scpecification li {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 10px 0;
    border-bottom: 1px solid #303030;
}

.scpecification li p:first-of-type {
    font-weight: 700;
}

.inforamtions ul {
    padding: 0;
    margin: 0;
}

.inforamtions h2 {
    text-align: start;
    margin-bottom: 25px;
    border-bottom: #303030 solid 2px;
    width: 400px;
}

.inforamtions a{
    margin-top: 25px;
}

/*------------------------------------------------------------------------------
   Inforamtions
------------------------------------------------------------------------------*/

.produit h2{
    padding-bottom: 25px;
}